---
import Main from "../layout/main.astro";
import Slider from "../comp/slider.astro"
import "../style/index.css";

import hero from "/hero_page.jpg";
import material from "/cct.jpg"
import house_done from "/IMG_3563.jpeg";

---

<Main>
  <section class="hero" style = `background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(${hero})`>
    <div class="hero-inner">
        <h1 class="shadow-text">AMOORDOD <br> Building Ccompany</h1>
        <h2 class="shadow-text">One brick at the time, <br>anywhere anytime.</h2>
        <a href="https://example.com/" class="btn">Get in Touch</a>
    </div>
</section>


  <div class=''>
    <Slider />

  </div>
  
  <div class = 'parallax' style=`background-image: url(${material});`></div>
    
  <div>
   <div class='section'>

      <div class="section-image">
        <img src={house_done} alt="">
      </div>
      <div class="section-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae in asperiores, magni unde odit beatae, distinctio eveniet quibusdam dolore, aliquam ex? Optio quasi doloremque sint distinctio et obcaecati, commodi aliquid.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quidem amet culpa. Maxime asperiores ratione suscipit, sunt eaque illo amet quisquam autem. Delectus, vero quia? Ab facilis et debitis ad.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, sint impedit quae reiciendis labore ullam modi consequatur fugit eos error id accusantium. Ad esse nesciunt, modi tenetur iste quo dolorem?
      </div>

  </div>

  <div class='section'>
    <div class="section-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae in asperiores, magni unde odit beatae, distinctio eveniet quibusdam dolore, aliquam ex? Optio quasi doloremque sint distinctio et obcaecati, commodi aliquid.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quidem amet culpa. Maxime asperiores ratione suscipit, sunt eaque illo amet quisquam autem. Delectus, vero quia? Ab facilis et debitis ad.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, sint impedit quae reiciendis labore ullam modi consequatur fugit eos error id accusantium. Ad esse nesciunt, modi tenetur iste quo dolorem?
    </div>
    <div class="section-image">
      <img src={house_done} alt="">
    </div>
    

  </div>

  <div class='section'>

    <div class="section-image">
      <img src={house_done} alt="">
    </div>
    <div class="section-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae in asperiores, magni unde odit beatae, distinctio eveniet quibusdam dolore, aliquam ex? Optio quasi doloremque sint distinctio et obcaecati, commodi aliquid.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quidem amet culpa. Maxime asperiores ratione suscipit, sunt eaque illo amet quisquam autem. Delectus, vero quia? Ab facilis et debitis ad.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, sint impedit quae reiciendis labore ullam modi consequatur fugit eos error id accusantium. Ad esse nesciunt, modi tenetur iste quo dolorem?
    </div>

 </div>
  </div>

  <script defer is:inline>
    const observer = new IntersectionObserver((entries) =>{
      entries.forEach((entry)=>{
        if (entry.isIntersecting){
          entry.target.classList.add('loaded-el')
        }
      })
    })
    const hiddenEl =  document.querySelectorAll('.animated')
    hiddenEl.forEach((el) =>{observer.observe(el)})
  </script>

</Main>