---
import Main from "../layout/main.astro";
import Slider from "../comp/slider.astro";
import FAQ from "../comp/faq.astro";


import hero from "/hero/alt_hero.jpeg";
import material from "/304774.jpg";
import model1 from "/model1.jpg";
import model2 from "/model2.jpeg";
import model3 from "/model3.jpeg";
---


<style>

.shadow-text{
  text-shadow: 2px 2px var(--dark);
}

.parallax {
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section{
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 10vh;
  gap: 1.5rem;
  max-width: 60%;
  margin: 0 auto;
  margin-top: var(--margin-top-standart);
  grid-template-columns: repeat(5,1fr);
}

.grid-2-col{
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 10vh;
  
  gap:20px 5px;
  max-width: 60%;
  margin: 0 auto;
  margin-top: var(--margin-top-standart);
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}
.tall{
  min-height: 30vw;
}

.section-text{
  color: var(--text);
  grid-column:span 2;
}
.section-image{
  grid-column:span 3;
}

/* mobile rules */
@media only screen and (max-width: 800px) {
  .section{
    grid-template-columns: 1fr;
  }
  .grid-2-col{
    grid-template-columns: 1fr;
  }
  .section-text{
    color: var(--text);
    grid-column:span 1;
    order: 1;
  }
  .section-image{
    grid-column:span 1;
  }
}

/* animations */
.hidden{
  opacity: 0;
  transition: all 1s ease;
}

.app-left{
  filter:blur(1px);
  transform: translateX(-25%);
}

.app-bottom{
  filter:blur(1px);
  transform: translateY(25%);
}

.app-right{
  filter:blur(1px);
  transform: translateX(25%);
}


.loaded-el{
  transition: all 1s ease-in-out;
  opacity: 1;
  filter:blur(0);
  transform: translateX(0);
}
/* Style the tab */
.tab {
  margin: 0 auto;
  margin-top: var(--margin-top-standart);
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  

}
#tab_container{
  margin: 0 auto;
  max-width: 60%;
  box-shadow: 0px 5px 50px 5px rgba(94, 94, 94, 0.7); 
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  white-space: nowrap;
  padding:  16px 13%;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #bbb;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  color: black;
  border-top: none;
  margin: 0 auto;
  background-color: rgb(50,50,50);
  color: white; 
 
}
.divider{
    width: 60%;
    height: 1px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #fff;
}
.header_container{
  position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.grid-2-col_tab{
  max-width: 90% !important;
}

:root {
  --background-color: #000000;
  --color: #000000;
  --light-theme: #ffffff;
}



</style>

<Main>
  <div class="hero" style=`background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(${hero})`>
    <div class="hero-inner">
      <h1 class="shadow-text">AMOORDOD <br /> Building Company</h1>
      <h2 class="shadow-text">
        Building luxury homes, <br />One dream at a time.
      </h2>
      <a href="contact" class="btn">Get in Touch</a>
  </div>
    </div>
  </div>

  <div id="History">
    <p>

</p>

  </div>

  <div>

  </div>

  <div class="grid-2-col tall">
    <Slider />

    <div style=" margin-left:25px;color:white;">
      <div class="header_container">
        <h1>Who we are</h1><div class= "divider"></div>
      </div>
      <br>
      <h2>Making your vision come true, that is what we do.</h2>
      <br> 
      <p>Welcome to our luxury house building company! We are a team of skilled architects and craftsmen who are passionate about creating stunning, high-end homes. With years of experience in the industry, we have a reputation for excellence and attention to detail.
      <br> <br> 
      Our homes are more than just buildings - they are a reflection of our clients' unique styles and personalities. We work closely with each client to understand their individual needs and desires, and use our expertise to bring their vision to life. From concept to completion, we are dedicated to creating homes that are not only beautiful, but also built to last.
      <br><br> 
      We use only the finest materials and latest building techniques to ensure that our homes are of the highest quality. And with our commitment to exceptional customer service, we make the building process as smooth and stress-free as possible.
      If you are in the market for a luxury home, we would be honored to work with you. Contact us today to learn more and start building your dream home.
      </p> 
    </div>
  </div>

  <div class="parallax" style=`background-image: url(${material});`></div>
<div id="tab_container" class="app-bottom animated hidden">
  <div class="tab">
    <button class="tablinks active" onclick="openCity(event, 'ongoing')">Ongoing Projects</button>
    <button class="tablinks" onclick="openCity(event, 'luxury')">Luxury Houses</button>
    <button class="tablinks" onclick="openCity(event, 'custom')">Custom Houses</button>
  </div>
  
  <div id="ongoing" class="tabcontent" style='display:block'>
    
    <div class ="grid-2-col grid-2-col_tab">
      <div>
        <div class="header_container">
          <h1 style="white-space: nowrap;">Ongoing projects</h1><div style="background-color: #FFF;" class = "divider"></div>
        </div>
        <br>
        <p style=" margin-right:25px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae in asperiores, magni unde odit beatae, distinctio eveniet quibusdam dolore, aliquam ex? Optio quasi doloremque sint distinctio et obcaecati, commodi aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quidem amet culpa. Maxime asperiores ratione suscipit, sunt eaque illo amet quisquam autem. Delectus, vero quia? Ab facilis et debitis ad. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, sint impedit quae reiciendis labore ullam modi consequatur fugit eos error id accusantium. Ad esse nesciunt, modi tenetur iste quo dolorem?.</p>  
      </div>
     <img src={model1} alt="">
    </div>
  </div>
  
  <div id="luxury" class="tabcontent">
    <div class ="grid-2-col grid-2-col_tab">
      <img src={model2} alt="">
      <div style=" margin-left:25px;">
        <div class="header_container">
          <h1 style="white-space: nowrap;">Luxury Houses</h1><div style="background-color: #FFF;" class = "divider"></div>
        </div>
        <br>
        <p >If you are in the market for a luxury home, look no further than our building services. We specialize in creating stunning, high-end homes that combine elegance and comfort. Our team of skilled architects and craftsmen are dedicated to creating homes that are tailored to your specific needs and desires. We use only the finest materials and latest building techniques to ensure that your new home is not only beautiful, but also built to last. Contact us today to learn more and start building your dream home.</p>  
      </div>
    </div>
  </div>
  
  <div id="custom" class="tabcontent">
    <div class ="grid-2-col grid-2-col_tab">
      <div>
        <div class="header_container">
          <h1 style="white-space: nowrap;">Custom Houses</h1><div style="background-color: #FFF;" class = "divider"></div>
        </div>
        <br>
        <p style=" margin-right:25px;">Welcome to our custom houses building page! At Amoordod, we specialize in designing and building one-of-a-kind homes that reflect the unique style and needs of our clients. </p>  
      </div>
      <img src={model3} alt="">
    </div>

  </div>
</div>
  

  <FAQ />

  <div>
    <div class="section animated app-right hidden">
      <div class="section-image">
        <img src={model1} alt="" />
      </div>
      <div class="section-text">
        <h1>Title</h1>
        <div>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae
          in asperiores, magni unde odit beatae, distinctio eveniet quibusdam
          dolore, aliquam ex? Optio quasi doloremque sint distinctio et
          obcaecati, commodi aliquid. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Cumque quidem amet culpa. Maxime asperiores ratione
          suscipit, sunt eaque illo amet quisquam autem. Delectus, vero quia? Ab
          facilis et debitis ad. Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Est, sint impedit quae reiciendis labore ullam modi
          consequatur fugit eos error id accusantium. Ad esse nesciunt, modi
          tenetur iste quo dolorem?
        </div>
      </div>
    </div>

    <div class="section animated app-left hidden">
      <div class="section-text">
        <h1>Title</h1>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae in
        asperiores, magni unde odit beatae, distinctio eveniet quibusdam dolore,
        aliquam ex? Optio quasi doloremque sint distinctio et obcaecati, commodi
        aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
        quidem amet culpa. Maxime asperiores ratione suscipit, sunt eaque illo amet
        quisquam autem. Delectus, vero quia? Ab facilis et debitis ad. Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Est, sint impedit quae reiciendis
        labore ullam modi consequatur fugit eos error id accusantium. Ad esse nesciunt,
        modi tenetur iste quo dolorem?
      </div>
      <div class="section-image">
        <img src={model2} alt="" />
      </div>
    </div>

    <div class="section animated app-right hidden">
      <div class="section-image">
        <img src={model3} alt="" />
      </div>
      <div class="section-text">
        <h1>Title</h1>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae in
        asperiores, magni unde odit beatae, distinctio eveniet quibusdam dolore,
        aliquam ex? Optio quasi doloremque sint distinctio et obcaecati, commodi
        aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
        quidem amet culpa. Maxime asperiores ratione suscipit, sunt eaque illo amet
        quisquam autem. Delectus, vero quia? Ab facilis et debitis ad. Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Est, sint impedit quae reiciendis
        labore ullam modi consequatur fugit eos error id accusantium. Ad esse nesciunt,
        modi tenetur iste quo dolorem?
      </div>
    </div>
  </div>

  

  <script defer is:inline>
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("loaded-el");
        }
      });
    });
    const hiddenEl = document.querySelectorAll(".animated");
    hiddenEl.forEach((el) => {
      observer.observe(el);
    });
  </script>

<script is:inline>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  </script>

</Main>
