---
import Main from '../layout/main.astro'
import hero from '/lease/hero.jpg'


import model1 from '/lease/IMG_2298.jpg'
import model2 from '/lease/IMG_0059.jpg'

import model3 from '/lease/DSC_1567-Enhanced.jpg'
import model4 from '/lease/13..jpg'

import model5 from '/lease/m5.jpg'
import model6 from '/lease/IMG_2298.jpg'

---

<style>
    .hero {
    height: 30vh;
    background-size: cover;
    background-position: bottom 5px right 7px;
    background-repeat: no-repeat; 
    }
    img{
        height: auto;
        width: 1000px;
        max-height: 500px;
        max-width: 500px;
    }
    .grid-2-col{
        display: grid;
        place-items: center;
        align-items: center;
        min-height: 10vh;
        
        gap:20px 5px;
        max-width: 60%;
        margin: 0 auto;
        margin-top: var(--margin-top-standart);
        grid-template-columns: 1fr 1fr;
        margin-bottom: 50px;
    }

    .tall{
        min-height: 30vw;
    }



    .section-image{
        grid-column:span 1;
    }

        /* mobile rules */
    @media only screen and (max-width: 800px) {
    .section{
        grid-template-columns: 1fr;
    }
    .grid-2-col{
        grid-template-columns: 1fr;
    }
    .section-image{
        grid-column:span 1;
    }
}

</style>
<Main>
    <section class="hero" style = `background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(${hero})`>
        <div class="hero-inner">
            <h1 class="shadow-text">About Us
            </h1>
        </div>
    </section>

    
    <p>
        We offer a wide range of high-quality heavy machinery for lease or rent at competitive prices. Our equipment is well-maintained and regularly inspected to ensure maximum safety and reliability on the job. With our flexible leasing and rental options, you can get the equipment you need without breaking the bank. Contact us today to learn more and get started on your next project.

        We offer rent and lease of a broad variety of heavy duty equipment and machinery  that can help you build your dream home.
    </p>

    <div class = "grid-2-col">
        
          <div class="section-image">
            <img src={model1} alt="" />
          </div>
          <div class="section-image">
            <img src={model2} alt="" />
          </div>
        
    
        
          <div class="section-image">
                <img src={model3} alt="" />
        </div>
          <div class="section-image">
            <img src={model4} alt="" />
          </div>
        
    
       
          <div class="section-image">
            <img src={model5} alt="" />
          </div>

          <div class="section-image">
            <img src={model6} alt="" />
          </div>

        
      </div>
</Main>